<div class="container">
  <form (ngSubmit)="signin()" [formGroup]="form">
    <div class="top-label">
      <label>Please Provide Login Credentials</label>
    </div>
    <ul class="unordered">
      <li>
        <mat-form-field>
          <input
            formControlName="email"
            type="text"
            matInput
            placeholder="Email"
          />
        </mat-form-field>
      </li>
      <li>
        <mat-form-field>
          <input
            formControlName="password"
            matInput
            type="password"
            placeholder="Password"
          />
        </mat-form-field>
      </li>
      <li>
        <button mat-raised-button type="submit">Login</button>
      </li>
    </ul>
  </form>
</div>
