<section class="features_section">
	<div class="features_top">
		<h1>Welcome to Bookmark-it</h1>
		<p>
			This fulstack demo project has been
			developed by Masihullah Mehrabi from
			scratch. You can find information about the
			technologies used both for front-end and
			back-end development of this project below,
			as well as the functionalities implemented,
			briefly.
		</p>
	</div>
	<div class="features_container">
		<div class="feature_item">
			<img
				src="https://docs.nestjs.com/assets/logo-small.svg"
				alt=""
			/>

			<div
				class="featureItem_Info"
				aria-hidden="false"
			>
				<h3>Backed-Ennd</h3>
				<p></p>
				<ul>
					<li>
						Nestjs: The back-end of this project
						is developed with Nestjs framework of
						node-js.
					</li>
					<li>
						Prisma: Prisma orm has been used to
						map data between the system and the
						postgres database of this project.
					</li>
					<li>
						Docker: When developing modern
						back-ends it is hard to exclude
						docker. docker is used to compose and
						host the database image of this
						project beside other magic like
						functionalities that it brings to the
						table in Development enviroment.
					</li>
				</ul>
			</div>
		</div>
		<div class="feature_item">
			<img
				src="https://angular.io/assets/images/logos/angular/angular_solidBlack.png"
				alt=""
			/>
			<div class="featureItem_Info">
				<h3>Front-End</h3>

				<ul>
					<li>
						Angular: While this web app is small
						with limited functionalities, it is
						developed to show-case the skills of
						the developer working with angular.
					</li>
					<li>
						Angular Material: Angular brings it's
						own (UI) components everything that is
						needed to develop front-end user
						interfaces. Angular material has been
						used in combination with html and css
						to compose the user interface of this
						project.
					</li>
					<li>
						Others: HttpClient, Interceptors,
						Guards... . Has been used to stablish
						communication with nestjs backend of
						this project. Other functionalities of
						Angular framework has been used which
						we do not have enough space fot it to
						be mentioned. You can see the code for
						more information or read the ReadMe
						file.
					</li>
				</ul>
			</div>
		</div>
		<div class="feature_item">
			<img
				src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTUkZ1rEvcn0_z8SCJbuE8DRVGqqOzLniMetfERb7jxQjHFhYoM0kOOlyDvVWFfKTam1gI&usqp=CAU"
				alt=""
			/>
			<div class="featureItem_Info">
				<h3>Functionalities</h3>
				<p></p>
				<ul>
					<li>
						Authorization: Starting out, you
						register provising your inoformaiton,
						Email and passord. Angular will send
						request to backend if the inoformaiton
						is correct (e.g:email is not taken and
						password is not provided). The
						back-end will issue you a JWT token
						which will be valid for 15 minutes.
						After 15 minutes the system will kick
						you out automatically. Ofcourse you
						can sign in anytime using your given
						email and password and use the system.
						Your Bookmarks are stored safely in
						the back-end.
					</li>
					<li>
						Bookmarking: You can perform all the
						CRUD operations in bookmark section.
					</li>
					<li>
						Edit your Info: You can change your
						information anytime you want with
						(Edit Infomation secction). If you
						change a loging credential you can
						login with your new credential.
					</li>
				</ul>
			</div>
		</div>
		<div class="feature_item">
			<img
				src="https://w7.pngwing.com/pngs/223/790/png-transparent-software-deployment-computer-icons-others-angle-text-logo.png"
				alt=""
			/>
			<div class="featureItem_Info">
				<h3>Deployment</h3>
				<ul>
					<li>
						Back-End: The Nestjs backend of this
						project has been deployed and hosted
						on (heroku). The following github link
						is the repository for the backend of
						this project, you can view the code <a href="https://github.com/masih-mehrabi/bookmark-it-backend">here</a> .
					</li>
					<li>
						Front-End: The front-end of this application is developed with angular and deployed to firebase
					</li>
					<li>lsdjfls jdflksjdfljdslfjsdlfj</li>
				</ul>
			</div>
		</div>
	</div>
</section>
