.link {
    background-color: white;
    position: relative;
    top: 0.9rem;
    left: 2rem;
    text-align: center;
    font-weight:bold;
}
.example-spacer {
    flex: 1 1 auto;
  }
input{
    height: 2.4rem;
    box-sizing: border-box;
    margin: 0.5;
    
}
input::placeholder{
    color: orangered;
    
}
button{
    color: rgb(28, 59, 32);
    background-color: rgb(62, 245, 42);
    font-weight: bold;
    margin: 0.1rem;
    width: 8rem;
    height: 3rem;
    all:center;
    position: relative;
    top: 0.7rem;

}
h1{
    color: black;
}

.mat-toolbar{
 background-color: white;
}
.mat-icon {
    color: rgb(28, 59, 32);
    position: relative;
    top: 00.8rem;
}
span{
    color: rgb(28, 59, 32);
    margin: 0.1rem;
    font-size: 15;
    font-weight: 1000;
    position: relative;
    top: 0.85rem;
}
table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }
  .container{
    max-width: 1300px;
    margin: 0 auto;
  }